{% extends 'base1.html' %}


{% block title %}
Add
{% endblock %}


{% block body %}


<!------------------------------------------------------------------------------->
<div class="container-fluid-mt-5 px-4">
    <div class="row" style="background-color: #f1f1f1; border:1px solid red; height:100vh">
<div class="col-md-3">

<ul class="list-group">
          <li class="list-group-item">
            <a class="nav-link" href="#">Введите данные по дефекту</a>
          </li>
            <li class="list-group-item">
            <a class="nav-link" href="#">Введите наименование дефекта</a>
			</li>
 			<li class="list-group-item">
           <a class="nav-link" href="#">Введите операцию</a>
          </li>
 			<li class="list-group-item">
           <a class="nav-link" href="#">Введите информацию по изделию</a>
          </li>
        </ul>

</div>
        <div class="col-md-6">
            <div class="form-group">
                <h2>Введите данные по дефекту</h2>

                <form method="post" id="1" enctype="multipart/form-data">
                    <input type="hidden" name="indetify" value='form1'>


                    <label>Выберите наименование дефекта: </label>
                    <select class="form-control" id="form-select" name="defect_name" required="required"
                        onChange="getValue();"><br>
                        <option value="">Выберите значение</option>
                        {% for i in defect %}
                        <option>{{ i.defect_name }}</option>
                        {% endfor %}
                        <option value="add_defect" style="background:green;">Добавить дефект</option>
                    </select><br>


                    <label>Выберите наименование операции:</label>
                    <select class="form-control" id="form-select" name="operation_name" required="required"
                        onChange="getValue();"><br>
                        <option value="">Выберите наименование операции</option>
                        {% for i in operation %}
                        <option>{{ i.operation_name }}</option>
                        {% endfor %}
                        <option value="add_operation" style="background:green;">Добавить операцию</option>
                    </select><br>


                    <!-- <label>Выберите наименование операции: </label> -->
                    <!-- <input type="text" name="operation_name1" id="operation_name1" class="form-control" -->
                    <!-- placeholder="Выберите наименование операции"><br> -->

                    <label>Выберите допустимость дефекта: </label>
                    <select class="form-control" name="defect_type" required="required"><br>
                        <option value="">Выберите допустимость дефекта</option>

                        <option value="1" style="color: green;">Дефект допустим</option>
                        <option value="0" style="color: red;">Дефект не допустим</option>
                    </select><br>

                    <label>Выберите изделие:</label>
                    <select class="form-control" id="form-select" name="product_name" required="required"
                        onChange="getValue();"><br>
                        <option value="">Выберите изделие</option>
                        {% for i in product %}
                        <option>{{ i.product_name }}</option>
                        {% endfor %}
                        <option value="add_product" style="background:green;">Добавить изделие</option>
                    </select><br>


                    <!-- <label>Выберите номер изделия: </label> -->
                    <!-- <input type="text" name="article_number" id="article_number" class="form-control" -->
                    <!-- placeholder="Выберите номер изделия"><br> -->

                    <!-- <label>Выберите наименование изделия: </label> -->
                    <!-- <input type="text" name="article_name" id="article_name" class="form-control" -->
                    <!-- placeholder="Выберите наименование изделия"><br> -->

                    <label>Прикрепите фото дефекта: </label>
                    <input type="text" name="defect_picture" id="defect_picture" class="form-control"
                        placeholder="Прикрепите фото дефекта">
                    <div class="custom-file">
                        <label>Select image...</label>
                        <input type="file" class="form-control" name="image" id="image" oninput="filesize(this);">
                        <br>
                    </div>


                    <label>Введите пояснение: </label>
                    <textarea name="note" id="note" class="form-control" placeholder="Введите пояснение"></textarea><br>


                    <input type="submit" class="btn btn-primary" value="Отправить">
                    <hr>
                    <hr>
                </form>
            </div>



        </div>
    </div>
</div>

</div>
<!------------------------------------------------------------------------------->

<div class="container">
    <div class="row" style="background-color: #f1f1f1; border:1px solid red; height:100vh">
        <div class="col-md-9">
            <div class="form-group">
                <h2>Введите наименование дефекта</h2>

                <form method="post" id="2">
                    <input type="hidden" name="indetify" value='form2'>
                    <label>Введите наименование дефекта: </label>
                    <input type="text" name="defect_name" id="defect_name" class="form-control"
                        placeholder="Введите наименование дефекта"><br>


                    <input type="submit" class="btn btn-primary" value="Отправить">

                </form>




            </div>



        </div>
    </div>
</div>

</div>
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->

<div class="container">
    <div class="row" style="background-color: #f1f1f1; border:1px solid red; height:100vh">
        <div class="col-md-9">
            <div class="form-group">
                <h2 id="2">Введите операцию</h2>

                <form method="post" id="3">
                    <input type="hidden" name="indetify" value='form3'>
                    <label>Введите наименование операции: </label>
                    <input type="text" name="operation_name" id="operation_name" class="form-control"
                        placeholder="Введите наименование операции"><br>



                    <input type="submit" class="btn btn-primary" value="Отправить">

                </form>




            </div>



        </div>
    </div>
</div>

</div>
<!------------------------------------------------------------------------------->

<div class="container">
    <div class="row" style="background-color: #f1f1f1; border:1px solid red; height:100vh">
        <div class="col-md-9">
            <div class="form-group">
                <h2 id="2">Введите информацию по изделию</h2>









                <form method="post" id="4">
                    <input type="hidden" name="indetify" value='form4'>
                    <label>Введите номер изделия: </label>
                    <input type="text" name="article_number" id="article_number" class="form-control"
                        placeholder="Введите номер изделия"><br>

                    <label>Введите наименование изделия: </label>
                    <input type="text" name="article_name" id="article_name" class="form-control"
                        placeholder="Введите наименование изделия"><br>


                    <input type="submit" class="btn btn-primary" value="Отправить">

                </form>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}


            </div>



        </div>
    </div>
</div>

</div>
<!------------------------------------------------------------------------------->


<script>
    function getValue() {
        let next = "#2"
        let a = document.getElementById("form-select");
        //let b = a.value;
        /*   if (a.selectedIndex != -1) {
               //Если есть выбранный элемент, отобразить его значение (свойство value)
               console.log(a.options[a.selectedIndex].text);
           }*/

        if (a.options[a.selectedIndex].value == "add_defect") {
            document.location.href = "#2"//"#top"
        } else if (a.options[a.selectedIndex].value == "add_operation") {
            document.location.href = "#3"
        } else if (a.options[a.selectedIndex].value == "add_product") {
            document.location.href = "#4"
        }
    }

</script>
<script>
    function filesize() {
        let file = document.getElementById("image").files[0].size;
        console.log('fs=', file);

        //let a = 'filesize'+'='+file;

        document.cookie = 'filesize' + '=' + file;
    }
</script>
{% endblock %}
