{% extends 'base.html' %}


{% block title %}
Add product
{% endblock %}

{% block nav %}
<style>

</style>
<style>
  /* Стиль фиксации шапки таблицы */
  .tableFixHead {
    overflow-y: auto;
    height: 50vh;
  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px 16px;
  }

  th {
    background: #fff !important;
  }
</style>
<!------------------------------------------------------------------------------->
<div class="col">
  <div class="scrollspy" data-mdb-spy="scroll" data-mdb-target=".list-group" data-mdb-offset="0"
    style="position: relative;  height: calc(100vh - 25vh); overflow: auto;">
    <nav class="nav flex-column  p-4">
      <a class="nav-link" href="add_catalog">Введите данные по дефекту</a>
      <a class="nav-link" href="add_defect">Введите наименование дефекта</a>
      <a class="nav-link" href="add_operation">Введите операцию</a>
      <a class="nav-link" href="add_product">Введите информацию по изделию</a>
   </nav>
  </div>
</div>


{% endblock %}



{% block main %}




        <div class="col-md-6">
            <div class="form-group">
                <h2 id="2">Введите информацию по изделию</h2>

               {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form method="post" id="4">
					<label>Введите номер изделия: </label>
                    <input type="text" name="article_number" id="article_number" class="form-control"
                        placeholder="Введите номер изделия"><br>

                    <label>Введите наименование изделия: </label>
                    <input type="text" name="article_name" id="article_name" class="form-control"
                        placeholder="Введите наименование изделия"><br>


                    <input type="submit" class="btn btn-outline-secondary" value="Отправить">

                </form>

      

            </div>



        </div>
 

<!------------------------------------------------------------------------------->


    
<!---------------------------------------------------------------------------------------->


<br>
<div class="col-md-8">

<h2>Или выберите изделие для редактирования или удаления</h2>
<div class="tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col"> Зарегистрированные изделия</th>
        <th scope="col"> </th>
	
      </tr>
    </thead>

    <tbody>

      {% for i in product %}
      <tr>
        <td>{{ i.id }}</td>
      	<td>{{ i.general_name }}</td>

		<td>
		<a href="/product/{{ i.id }}/update" class="btn btn-outline-secondary btn-sm">Редактировать</a>
		</td>
		
{% endfor %}
	</tr>


    </tbody>

  </table>
</div>
</div>
<!---------------------------------------------------------------------------------------->

      

<script>
    
</script>

{% endblock %}


