{% extends 'base.html' %}


{% block title %}
Add product
{% endblock %}


{% block main %}




        <div class="col-md-6">
            <div class="form-group">
                <h2 id="2">Введите информацию по изделию</h2>

               {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form method="post" id="4">
					<label>Введите номер изделия: </label>
                    <input type="text" name="article_number" id="article_number" class="form-control"
                        placeholder="Введите номер изделия"><br>

                    <label>Введите наименование изделия: </label>
                    <input type="text" name="article_name" id="article_name" class="form-control"
                        placeholder="Введите наименование изделия"><br>


                    <input type="submit" class="btn btn-outline-secondary" value="Отправить">

                </form>

      

            </div>



        </div>
 

<!------------------------------------------------------------------------------->


<script>
    function getValue() {
        let next = "#2"
        let a = document.getElementById("form-select1");
        //let b = a.value;
        /*   if (a.selectedIndex != -1) {
               //Если есть выбранный элемент, отобразить его значение (свойство value)
               console.log(a.options[a.selectedIndex].text);
           }*/

        if (a.options[a.selectedIndex].value == "add_defect") {
            document.location.href = "#2"//"#top"
        } else if (a.options[a.selectedIndex].value == "add_operation") {
            document.location.href = "#3"
        } else if (a.options[a.selectedIndex].value == "add_product") {
            document.location.href = "#4"
        }
    }

</script>
<script>
    function filesize() {
        let file = document.getElementById("image").files[0].size;
        console.log('fs=', file);

        //let a = 'filesize'+'='+file;

        document.cookie = 'filesize' + '=' + file;
    }
</script>
{% endblock %}


</script>
var menu = document.querySelector('.menu');
var anchors = menu.getElementsByTagName('a');

for (var i = 0; i < anchors.length; i += 1) {
  anchors[i].addEventListener('click', function() { clickHandler(anchors[i]) }, false);
}

function clickHandler(anchor) {
  var hasClass = anchor.getAttribute('class');
  if (hasClass !== 'active') {
    anchor.setAttribute('class', 'active');
  }
}
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});
</script>
