{% extends 'base.html' %}


{% block title %}
Defect
{% endblock %}

{% block nav %}




    <div class="col p-4">
      <h2 style="color: #ff7000;">{{ defect_list[0].defect_name }}</h2><br>
      <p>id: {{ catalog_list.id }}</p>
      <p>Операция: {{ catalog_list.operation }}</p>
  <!--    <p>Артикул: {{ catalog_list.article }}</p>
      <p>Наименование: {{ catalog_list.name }}</p>  -->
	<p>Изделие:  {{ catalog_list.product_name }}</p>
      {% if catalog_list.defect_type == 1 %}
		<p>Допустимость: <a style="color:green;">ДЕФЕКТ ДОПУСТИМ</a></p>
		{% elif catalog_list.defect_type == 0 %}
	<p>Допустимость: <a style="color:red;">ДЕФЕКТ НЕ ДОПУСТИМ</a></p>
{% else %}
	<p>Допустимость: <a style="color:grey;">ДОПУСТИМОСТЬ НЕ ОПРЕДЕЛЕНА</a></p>
	{% endif %}
      <p>Комментарий: {{ catalog_list.note }}</p>
 </div>



     <a href="/show_catalog" class="btn btn-outline-secondary">Назад</a>
        <a href="/catalog_list/{{ catalog_list.id }}/del" class="btn btn-outline-secondary">Удалить</a>
        <a href="/catalog_list/{{ catalog_list.id }}/update" class="btn btn-outline-secondary">Редактировать</a>
    
{% endblock %}
{% block main %}

    <div class="col">
<!--{{ catalog_list.picture }}-->
      <img src="/{{ catalog_list.picture }}"   class="img-fluid" alt="NO PICURE">
    </div>
  </div>

  {% endblock %}
