{% extends 'base.html' %}


{% block title %}
Добавление статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление статьи</h1>
<!--
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">

    </form>     -->
	<div class = "forms">
	 <form method="post">
		<input type="text" name="defect" id="defect" class="form-control" placeholder="Введите название дефекта"><br>
        <input type="text" name="operation" id="operation" class="form-control" placeholder="Введите название операции"><br>
        <input type="text" name="article" id="article" class="form-control" placeholder="Введите № изделия"><br>
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите наименование изделия"><br>
		<textarea name="note1" id="note1" class="form-control" placeholder="Введите пояснение"></textarea><br>
        <textarea name="note2" id="note2" class="form-control" placeholder="Введите дополнительное пояснение"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">

    </form>
	</div>
</div>
{% endblock %}
