{% extends 'base.html' %}


{% block title %}
Update defect
{% endblock %}


{% block nav %}



{% endblock %}



{% block main %}


<!------------------------------------------------------------------------------->
<form method="post" id="2">
        <div class="col-md-6">
            <div class="form-group">
                <h2>Измените наименование дефекта</h2>
               {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}

                
                    <label>Измените наименование дефекта: </label>
                    <input type="text" name="defect_name" id="defect_name" class="form-control"
                        placeholder="{{ defect_list.defect_name }}"><br>


                    



            </div>
        </div>
<!---------------------------------------------------------------------------------------->

<br>
<br>
<div class="col-md-11">
{% if catalog.count() == 1 %}
<h3>Данное наименование дефекта участвует в {{catalog.count()}} связанной записи. </h3>
<h3>Наименование дефекта изменится и в указанной записи</h3>
{% else %}
<h3>Данное наименование дефекта участвует в {{catalog.count()}} связанных записях.  </h3>
<h3>Наименование дефекта изменится и в указанных записях</h3>
{%  endif %}

<div class="tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr onclick="window.location.href='/defect'; return false">
        <th scope="col">id</th>
        <th scope="col"> Зарегистрированные дефекты</th>
        
      </tr>
    </thead>

    <tbody>

      {% for i in catalog %}
      <tr>
        <td>{{ i[0].product_name }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[0].operation }}</td>
        <td>{{ i[0].note }}</td>
        <td style="width:10%"><img src="/{{ i[0].picture }}" class="img-thumbnail" alt=""
            style=" max-width: 100%;  height: auto;"></td>
        <!-- <td>{{ i[0].picture }}</td> -->


      </tr>
      {% endfor %}


    </tbody>

  </table>

<input type="submit" class="btn btn-outline-secondary" value="Изменить">
</div>
</div>
</form>
<!---------------------------------------------------------------------------------------->

<script>

</script>
{% endblock %}
