{% extends 'base1.html' %}


{% block title %}
Defect
{% endblock %}

{% block body %}



<div class="container-fluid-mt-5 px-4" style="border:0.5px solid grey; margin-top: 80px; ">


  <div class="row">
    <div class="col-md-3" style="border:0.5px solid grey;">
      <h2 style="color: #ff7000;">{{ defect_detail.defect }}</h2><br>
      <p>id: {{ defect_detail.id }}</p>
      <p>Операция: {{ defect_detail.operation }}</p>
      <p>Артикул: {{ defect_detail.aricle }}</p>
      <p>Наименование: {{ defect_detail.name }}</p>
      <p>Допустимость: {{ defect_detail.sort }}</p>
      <p>Комментарий: {{ defect_detail.note }}</p>
    </div>


    <div class="col" style="border:0.5px solid grey;">

      <img src="{{ defect_detail.note }}"   class="img-fluid" alt="">
    </div>
  </div>

  {% endblock %}