{% extends 'base.html' %}


{% block title %}
Update defect
{% endblock %}


{% block nav %}



{% endblock %}



{% block main %}


<!------------------------------------------------------------------------------->
<form method="post" id="2">
        <div class="col-md-6">
            <div class="form-group">
                <h2>Измените наименование дефекта</h2>
               {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}

                
                    <label>Измените наименование дефекта: </label>
                    <input type="text" name="defect_name" id="defect_name" class="form-control"
                        placeholder="{{ defect_list.defect_name }}"><br>


                    



            </div>
        </div>
<!---------------------------------------------------------------------------------------->

<br>
<br>
<div class="col-md-11">
{% if catalog.count() == 1 %}
<h4>Данное наименование дефекта участвует в {{catalog.count()}} связанной записи. </h4>
<h5>При изменении наименование дефекта изменится и в указанной записи.</h5>
<h5 class="text-danger">Внимание! При удалении указанная запись полностью удалится без возможности восстановления.</h5>

{% elif catalog.count() == 0 %}
<h4>Данное наименование дефекта участвует в {{catalog.count()}} связанной записи </h4>

{% else %}
<h4>Данное наименование дефекта участвует в {{catalog.count()}} связанных записях.  </h4>
<h5>При изменении наименование дефекта изменится и в указанных записях.</h5>
<h5 class="text-danger">Внимание! При удалении указанные записи полностью удалятся без возможности восстановления.</h5>
{%  endif %}

<div class="tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr >
 {% for i in table_head %}
        <th scope="col">{{ i }}</th>
        {% endfor %}
        
      </tr>
    </thead>

    <tbody>

      {% for i in catalog %}
      <tr onclick="window.location.href='/catalog_list/{{ i[0].id }}'; return false">
        <td>{{ i[0].product_name }}</td>
        <td class="text-danger">{{ i[1] }}</td>
        <td>{{ i[0].operation }}</td>
        <td>{{ i[0].note }}</td>
        <td style="width:10%"><img src="/{{ i[0].picture }}" class="img-thumbnail" alt=""
            style=" max-width: 100%;  height: auto;"></td>
        {% endfor %}
		
      </tr>
      


    </tbody>

  </table>

<input type="submit" class="btn btn-outline-secondary" value="Изменить">
<a href="/defect/{{ defect_list.id }}/del" class="btn btn-outline-danger">Удалить</a>
</div>
</div>
</form>
<!---------------------------------------------------------------------------------------->

<script>

</script>
{% endblock %}
