{% extends 'base.html' %}


{% block title %}
Show operations
{% endblock %}

{% block nav %}

<!-- <link href="../static/css/table.css" rel="stylesheet"> -->

<style>
  .nav a {
    color: #333333 !important;
  }
</style>

<style>
  /* Стиль фиксации шапки таблицы */
  .tableFixHead {
    overflow-y: auto;
    height: 85vh;
  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  .table {
    border-collapse: collapse;
    width: 95%;
  }

  th,
  td {
    padding: 8px 16px;
  }

  th {
    background: #fff !important;
  }
</style>
<style>
/*table {
    table-layout: fixed;
}*/
td {
    /*word-wrap:break-word;*/
	word-break: break-all;
}
</style>
<div class="col">
  <div class="scrollspy" data-mdb-spy="scroll" data-mdb-target=".list-group" data-mdb-offset="0"
    style="position: relative;  height: calc(100vh - 25vh); overflow: auto;">
    <nav class="nav flex-column show p-4">
      <a class="nav-link" value="0" href="/show_operation"> ВСЕ ОПЕРАЦИИ </a>
      {% for i in operations %}
      <a class="nav-link" value="{{ i.id }}" href="/show_operation/{{ i.id }}"> {{ i.operation_name }} </a>
      {% endfor %}
    </nav>
  </div>
</div>
{% endblock %}


{% block main %}

<!--=======================================================================================-->

<div class="tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr>
        {% for i in table_head %}
        <th scope="col">{{ i }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for i in catalog %}
      <tr onclick="window.location.href='/catalog_list/{{ i[0].id }}'; return false">
        <td>{{ i[3]}}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td style="width:25%">{{ i[0].note }}</td>
        <td style="width:10%"><img src="/{{ i[0].picture }}" class="img-thumbnail" alt=""
            style=" max-width: 100%;  height: auto;"></td>
        <!-- <td>{{ i[0].picture }}</td> -->


      </tr>
      {% endfor %}



    </tbody>

  </table>
</div>




<script type="text/javascript" src="../static/js/base.js"></script>
<script>


  let navName = document.querySelector(".nav.flex-column.show");
  //console.log(navName);
  if (navName != null) {
    let a = navName.getElementsByTagName("a");
    //console.log(a);
    for (var i = 0; i < a.length; i++) {
      let value = a[i].getAttribute("value");
      //console.log("value =", value);
      if (value == urlName().num) {
        a[i].className += " active";
      };
    };
  };

</script>







{% endblock %}
