{% extends 'base.html' %}


{% block title %}
Show defects
{% endblock %}

{% block nav %}

<!-- <link href="../static/css/table.css" rel="stylesheet"> -->

<style>
  .nav a {
    color: #333333 !important;
  }
</style>

<style>
  /* Стиль фиксации шапки таблицы */
  .tableFixHead {
    overflow-y: auto;
    height: 85vh;
  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  .table {
    border-collapse: collapse;
    width: 95%;
  }

  th,
  td {
    padding: 8px 16px;
  }

  th {
    background: #fff !important;
  }
</style>
<style>
/*table {
    table-layout: fixed;
}*/
td {
    /*word-wrap:break-word;*/
	word-break: break-all;
}
</style>
<div class="col">
  <div class="scrollspy" data-mdb-spy="scroll" data-mdb-target=".list-group" data-mdb-offset="0"
    style="position: relative;  height: calc(100vh - 25vh); overflow: auto;">
    <nav class="nav flex-column show p-4">
      <a class="nav-link" href="/show_catalog"> ВСЕ ДЕФЕКТЫ </a>
      {% for i in defects %}
      <a class="nav-link" href="/show_catalog/{{ i.id }}"> {{ i.defect_name }},{{ i.id }} </a>
      {% endfor %}
    </nav>
  </div>
</div>
{% endblock %}


{% block main %}

<!--=======================================================================================-->

<div class="tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr>
        {% for i in table_head %}
        <th scope="col">{{ i }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for i in catalog %}
      <tr onclick="window.location.href='/catalog_list/{{ i[0].id }}'; return false">
        <td>{{ i[3]}}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td style="width:25%">{{ i[0].note }}</td>
        <td style="width:10%"><img src="/{{ i[0].picture }}" class="img-thumbnail" alt=""
            style=" max-width: 100%;  height: auto;"></td>
        <!-- <td>{{ i[0].picture }}</td> -->


      </tr>
      {% endfor %}



    </tbody>

  </table>
</div>








<!-- <script src="../static/js/table.js"></script> -->
<script>
//console.log(this.href.substring(this.href.lastIndexOf('/') + 1));

       // var el = document.getElementById(id).getElementsByTagName('a');
//let url = document.location.href;

////////////////////////////////////////////////////////////////////////////////////////////
function urlName (){
	let url  = document.location.href; // получаем href страницы
	let nm = url.match(/(?<=\/\/.+\/)\w+/); //Получаем из htef блок наименования страницы
	nm = nm[0]
	let num = url.match(/(?<=\/\/.+\/\w+\/)\d{1,}/);
	if (num == null){
		num = '0';
		}
	else {
		num = num[0]
		};
	 return {nm, num}
};
/////////////////////////////////////////////////////////////////////////////////////////////

console.log('urlName =',urlName());
console.log('urlName =',urlName.nm);
console.log('urlName =',urlName.num);
let u  = document.location.href;
console.log('u =', u);
//let e = u.substring(u.indexOf("//"));
//console.log('e =', e);
//let r = u.match(/\/\D+\//);
//console.log('r =', r);
//let num = e.substring(e.lastIndexOf("/")+1);
//console.log('num =',num);
let z = u.match(/(?<=\/\/.+\/)\w+/);
console.log('z =',z[0]);
let n = u.match(/(?<=\/\/.+\/\w+\/)\d{1,}/);
if (n == null){
	n = '0';
	console.log('n =', n);
	}
else {
	console.log('n =', n[0])
	};
</script>

{% endblock %}
